@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


.clear{
  clear: both;
}
.rounded{
  border-radius: 15px;
}
.box{
  padding: 30px;
  margin: 0 0 25px 0;
}
.white{
  background-color: $white;
  color: $dark;
  border: 1px solid $light-gray;
}
.blue{
  background-color: $blue;
  color: $white;
  select{
    background: $light-gray url("../img/icon-select.png") no-repeat 95% 50%;
    color: $white;
    border: none;
    &:focus{
      outline: none;
    }
  }
  input[type="submit"]{
    border: none;
    width: 100%;
    text-align: left;
    color: $white;
    padding: 10px;
    background: $black url("../img/icon-right.png") no-repeat 95% 50%;
  }
}
.lightblue{
  background-color: $lightblue;
  color: $black;
  h3{
    color: $blue;
  }
}
.lighterblue{
  background-color: $lighterblue;
  color: $dark;
  h3{
    color: $blue;
  }
}
.dark{
  background-color: $dark;
  color: $white;
  select{
    background: $darker-grey url("../img/icon-select.png") no-repeat 95% 50%;
    color: $white;
    border: none;
    &:focus{
      outline: none;
    }
  }
  input[type="submit"]{
    border: none;
    width: 100%;
    text-align: left;
    color: $white;
    padding: 10px;
    background: $blue url("../img/icon-right.png") no-repeat 95% 50%;
  }
}

#header, #header .top-bar, #header .menu, #header .title-bar{
  background-color: #1d1d1d;
  .logo{
    height: 50px;
    width: 208px;
    display: block;
    background: url('../img/logo.png');
    background-size: cover;
  }
  .icons{
    float: right;
    font-size: 30px;
  }
}
#menu .logo{
  margin-left: 25px;
}

#header2{
  background: #1d1d1d;
  height: 100px;
  #autobar{
    #auto_header{
      background: url('../img/auto_header.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      height: 290px;
      margin: 10px 0;
    }
    .logo{
      height: 50px;
      width: 208px;
      display: block;
      background: url('../img/logo.png');
      background-size: cover;
      margin: 0 auto 60px;
    }
  }
  @include breakpoint(medium up) {
    height: 245px;
  }
  @include breakpoint(medium up) {
    height: 245px;
    background: #0093d0;
  }
}

#footer{
  background: #ecf6fa;
}
#textfooter{
  text-align: center;
}
#textfooter p{
  margin: 10px 0;
  font-size: 14px;
}
