<div id="footer">
    <div class="row">
      <div class="large-12 columns">
        <div class="show-for-large large-4 columns lighterblue box">
          <h3>Menu</h3>
          <ul class="">
              {{#each nav.topnav}}
                <li><a href="{{this.href}}" title="{{this.title}}">{{this.menutitle}}</a></li>
              {{/each}}
  				</ul>
        </div>
        <div class="medium-6 large-4 columns lighterblue box">
          <h3>Contact</h3>
          Noorderweg 9a<br/>
          1757 PC Oudesluis<br/>
          T . +31 (0) 224 22 34 40<br/>
          M. +31 (0) 6 54 31 44 10<br/>
          E . <a href="mailto:info@autovt.nl">info@autovt.nl</a><br/>
          <i class="fi-social-facebook"></i>: <a target="_blank" href="https://fb.me/autoservicevantongerlo">fb.me/autoservicevantongerlo</a><br/>
        </div>
        <div class="medium-6 large-4 columns lighterblue box">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2410.3884376164847!2d4.80931911633236!3d52.83338537987466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47cf4eec4bf2db7f%3A0x9ed97f5f99c4baa2!2sAutoservice+Van+Tongerlo!5e0!3m2!1snl!2snl!4v1517058989534" width="400" height="300" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</div>

<div id="textfooter">
    <div class="row">
      <div class="large-12 columns">
          <p>Copyright &copy; 2018 Autoservice Van Tongerlo</p>
      </div>
    </div>
</div>
