<div id="header">
  <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
      <div class="icons">
        <a href="tel:0031224223440"><i class="fi-telephone"></i></a>
        <button class="menu-icon" type="button" data-toggle></button>
      </div>

      <a style="margin: 0 auto; display: block;" href="/" class="logo "></a>

  </div>

  <div class="top-bar" id="menu">
          <ul class=" medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
              <li><a href="/" class="logo hide-for-small-only"></a></li>
              {{#each nav.topnav}}
                <li><a href="{{this.href}}" title="{{this.title}}">{{this.menutitle}}</a></li>
              {{/each}}
          </ul>
  </div>
</div>
